@import "../../../../assets/styles/vars";

.form {
  position: relative;
  min-height: 405px;

  & .button-remove {
    display: flex;
    margin: 0 auto;
    background: $strong-red;
    color: $white-color;

    &[disabled="true"] {
      pointer-events: none;
      opacity: .3;
    }
  }
}
