$fields-stroke-color: #C2CCD9;
$color-grey: #656565;
$white-color: #FFFFFF;
$input-not-editable-color: #F7F7F7;
$primary-dark-color: #000736;
$soft-red: #DE4A5E;
$dark-grey: #5D6B7E;
$soft-blue: #4579FF;
$strong-red: #bb2f43;
